# Node
node_modules/
package-lock.json

# Tailwind (CSS gerado)
frontend/public/css/output.css

# Env
.env

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/